.navbar {
  background-image: linear-gradient(
    to bottom,
    #465775 0,
    #546685 100%
  ) !important;
  color: #fff;
}
.Body {
  background: linear-gradient(
      115.25deg,
      #fed18c 18.98%,
      rgba(255, 114, 42, 0.37) 87%
    ),
    #f7c780;
}
.logoText {
  font-family: 'Oxygen', sans-serif !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 30px !important;
  line-height: 38px !important;
  margin-left: 50px;

  color: #fff !important;
}

#collasible-nav-dropdown {
  color: white !important;
  font-size: 25px !important;
}

#about-link {
  color: white !important;
  font-size: 25px !important;
}
